<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Logged User</title>
  <link rel="stylesheet" th:href="@{/css/general.css}">
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="stylesheet" th:href="@{/css/historial.css}">
  <link rel="stylesheet" th:href="@{/css/admin.css}">
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootrstap.min.css">
  <style>
    body{
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    main{
      flex: 1;
    }
  </style>
</head>
<body>
<nav th:replace="fragments/nav :: navAdmin"></nav>
<main>
  <h1 class="titulo_1" style="color:#6b27fc">Portal de Administrador</h1>
  <div><a href="">Reservas Pendientes</a></div>
  <div><a href="">Historial de Reservas</a></div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
<script th:src="@{/js/navDesplegable.js}"></script>
</html>