main{
    min-height: 95vh;
    overflow: scroll;
}

h1{
    font-size: 2.5rem;
    color: white;
}

a{
    color: palegreen;
}

main{
    background-image: url("../imgs/fondo_inicio2.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
}

#contacto, #whatsapp_contacto{
    width: 500px;
    height: auto;
    margin: 15px auto;
    overflow: hidden;
    border-radius: 15px;
}

#header_contacto{
    padding: 10px 20px;
    background: linear-gradient(45deg, #570cff, #9363fb);
    border-bottom: 2px solid #3e139c;
}

#body_contacto{
    background-color: white;
    padding: 20px;
}

.input_contacto{
    display: block;
    border: 2px solid rgb(238, 236, 236);
    border-radius: 10px;
    height: 30px;
    margin: 10px 0px 20px 0px;
    width: 200px;
    transition: 0.5s;
    padding-left: 15px;
    font-weight: bold;
}

.input_contacto:focus{
    border: 2px solid #8650fe;
}

input:focus, textarea:focus{
    outline: none;
}

textarea:focus{
    border: 2px solid #8650fe;
}

label{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3e139c;
}

#enviar_contacto{
    height: 35px;
    width: 100px;
    border: none;
    background-color: #23d366;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
    cursor:pointer;
}

textarea{
    display: block;
    /* width: 100%; */
    min-width: 100%;
    max-width: 100%;
    height: 120px;
    min-height: 120px;
    max-height: 350px;
    border: 2px solid rgb(238, 236, 236);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    /* font-size: 1.5rem; */
    font-family: inherit;
}

#whatsapp_contacto{
    color: white;
    font-weight: bold;
    background: linear-gradient(45deg, dodgerblue, #0081ff);
    height: 80px;
    padding: 18px;
    font-size: 1.5rem;
    box-sizing: border-box;
    text-align: center;
}

#mail_enviado{
    display: block;
    padding: 20px;
    background: #0aae0a;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: white;
    border-bottom: 3px solid palegreen;
}

#error_mail{
    display: block;
    padding: 20px;
    background: red;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: white;
    border-bottom: 3px solid crimson;
}