main{
    height: 100vh;
}

.historial{
    border-top: 20px solid white;
    position: relative;
    top: 40px;
    height: 65%;
    width: 80%;
    background-color: white;
    margin-bottom: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px lightgray;
    padding: 0px 40px 40px 40px;
    box-sizing: border-box;
    overflow: scroll;
}

.item_historial, .item_historial_falta, .header_historial{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}

.item_historial{
    background-color: whitesmoke;
    color: #8650fe;
    cursor: default;
}

.item_historial_falta{
    background-color: crimson;
    color: white;
}

.item_historial_falta:hover{
    background-color: red;
}

.item_historial:hover{
    background-color: rgba(107,39,252, 0.3);
    /*color: #333;*/
    /*border-bottom: 2px solid #3e139c;*/
}

table{
    width: 100%;
    height: 100%;
}

thead, th{
    position: sticky;
    top: 0;
}

.td_historial{
    width: 30%;
    margin-left: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.th_historial{
    background-color: #333;
    color: white;
    border-radius: 10px 10px 0 0;
}

/*#filtros_historial{*/
/*    color: white;*/
/*    height: 70px;*/
/*    background: linear-gradient(45deg, #481f9e, #8650fe 80%);*/
/*}*/

#container_filtro{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

input[type='checkbox']{
    height: 20px;
    width: 20px;
    margin-left: 4%;
    margin-right: 10px;
}

select, button{
    width: 180px;
    height: 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

#arrow{
    position: absolute;
    height: 50px;
    filter: opacity(0.5);
}