<div class="info_container" th:fragment="faqs">
  <div class="titulo_1 violeta_claro" style="text-align: center;">Preguntas Frecuentes</div><br><br>
  <section id="faqs">
    <div class="pregunta titulo_3">¿Cómo reservo? <img class="btn_faqs" src="./imgs/boton_faqs.png" alt="boton desplazable"></div>
    <div class="respuesta">
      <p class="p_respuesta texto_2">Para reservar debés crear primero tu usuario. Luego podrás ir a la sección de reservas
        donde eligirás día, horario y cancha. Una vez efectuada tu reserva, tendrás a disposición
        el ID de la misma, el cual deberás enviarnos vía WhatsApp junto con un comprobante
        de transferencia por el monto de seña que corresponda.
      </p>
    </div>

    <div class="pregunta titulo_3">¿Por qué tengo que registrarme?<img class="btn_faqs" src="./imgs/boton_faqs.png" alt="boton desplazable"></div>
    <div class="respuesta">
      <p class="p_respuesta texto_2">
        Tener registrados a nuestros clientes nos permite hacer un seguimiento de la cantidad
        de reservas que tienen y así poder asegurarles los beneficios que les correspondan
        para reservar y consumir en el establecimiento.
      </p>
    </div>

    <div class="pregunta titulo_3">¿Puedo perder mis beneficios?<img class="btn_faqs" src="./imgs/boton_faqs.png" alt="boton desplazable"></div>
    <div class="respuesta">
      <p class="p_respuesta texto_2">
        En caso de que no te presentes a jugar o que canceles fuera del límite de horario, se te aplicará
        una 'falta'. Podés acumular como máximo 3 faltas por año, y una vez que las superes deberás comenzar de cero,
        por lo que perderás tus beneficios hasta subir nuevamente de nivel.
      </p>
    </div>

    <div class="pregunta titulo_3">¿Qué pasa si cancelo mi reserva?<img class="btn_faqs" src="./imgs/boton_faqs.png" alt="boton desplazable"></div>
    <div class="respuesta">
      <p class="p_respuesta texto_2">
        La cancelación de la reserva se avisa por WhatsApp. Si cancelás fuera del horario permitido
        tendrás una falta, la cual se guardará durante lo que quede del año. Si superas las tres faltas
        perderás tus beneficios.
      </p>
    </div>
  </section>
</div>