<section class="info_container" id="beneficios_container" th:fragment="niveles">
  <div class="niveles_container">
    <div class="item_nivel" id="recreativo">
      <div class="titulo_3 violeta_claro">Recreativo</div><br>
      <div class="item_subtitulo">- menos de 15 reservas</div><br>
      <div class="item_texto texto_2">
        <table>
          <tr>
            <td><img src="./imgs/check.png" alt="Icono Falta" class="check_niveles"></td><td>Reservás con el 50%</td>
          </tr>
          <tr>
            <td><img src="./imgs/check.png" alt="Icono Falta" class="check_niveles"></td><td>Cancelás hasta 24hs antes</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="item_nivel" id="local">
      <div class="titulo_3">Local</div><br>
      <div class="item_subtitulo blanco" style="color: white">- de 15 a 40 reservas</div><br>
      <div class="item_texto texto_2">
        <table>
          <tr>
            <td><img src="./imgs/check.png" alt="Icono Falta" class="check_niveles"></td><td>10% de descuento en canchas</td>
          </tr>
          <tr>
            <td><img src="./imgs/check.png" alt="Icono Falta" class="check_niveles"></td><td>Cancelás hasta 12hs antes</td>
          </tr>
          <tr>
            <td><img src="./imgs/check.png" alt="Icono Falta" class="check_niveles"></td><td>Reservás con el 50%</td>
          </tr>
          <tr>
            <td><img src="./imgs/check.png" alt="Icono Falta" class="check_niveles"></td><td>10% de descuento en bebidas</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="item_nivel" id="socio">
      <div class="titulo_3" style="color: gold">Socio</div><br>
      <div class="item_subtitulo" style="color: gold">- más de 40 reservas</div><br>
      <div class="item_texto texto_2">
        <table>
          <tr>
            <td><img src="./imgs/check.png" alt="Icono Falta" class="check_niveles"></td><td>15% de descuento en canchas</td>
          </tr>
          <tr>
            <td><img src="./imgs/check.png" alt="Icono Falta" class="check_niveles"></td><td>Cancelás hasta 12hs antes</td>
          </tr>
          <tr>
            <td><img src="./imgs/check.png" alt="Icono Falta" class="check_niveles"></td><td>Reservás con el 10%</td>
          </tr>
          <tr>
            <td><img src="./imgs/check.png" alt="Icono Falta" class="check_niveles"></td><td>25% de descuento en cualquier compra del buffet</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>