@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
    max-width: 2000px;
    margin: auto;
}

main{
    /*flex: 1;*/
    /*display: flex;*/
    /*justify-content: center;*/
}

.logo{
    width: 120px;
    margin-left: 10px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

#admin_links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.admin_btn{
    background-color: white;
    width: 130px;
    border-radius: 0;
    border: 2px solid #8650fe;
    cursor: pointer;
    text-align: center;
    transition: 1s;
}

.admin_btn:hover{
    background-color: #d0bbff;
}

.boton_aceptar, .boton_cancelar{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /*border: none;*/
    font-weight: bold;
    cursor: pointer
}

.boton_aceptar{
    background: #8650fe;
}

.boton_aceptar:hover{
    background: #3e139c;
}

.boton_cancelar{
    background: crimson;
}

.boton_cancelar:hover{
    background: red;
}

.botonera_modal_admin{
    display: flex;
    position: absolute;
    bottom: 10px;
}

h1{
    color:#8650fe;
    font-size: 2.3rem;
}

.item_historial{
    width: 100%;
    height: 60px;
    background: whitesmoke;
    color: navy;
    display: flex;
    /*justify-content: start;*/
    justify-content: space-around;
    cursor: pointer;
    padding-left: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid lightgray;
    cursor: default;
}

.item_historial:hover{
    background-color: rgba(107,39,252, 0.3);
    color: #333;
    border-bottom: 2px solid #3e139c !important;
}

.filtros_historial{
    width: 100%;
    margin-top: 8px;
    padding-left: 10px;
    color: white;
    height: 60px;
    cursor:default;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 8px;
}

.th_historial{
    witdh: 100%;
    height: 60px;
    display: flex;
    /*justify-content: flex-start;*/
    justify-content: space-around;
    padding-left: 10px;
    background-color: #333;
    color: white;
    border-radius: 10px 10px 0 0;
    cursor: default;
    border: none;
    margin-bottom: 0px;
}

.td_historial{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content:left;
    font-size: 1rem;
}


.asistio{
    background: greenyellow !important;
}

.hoy{
    border-bottom: 2px solid orangered !important;
    /*background-color: lavender;*/
    /*color: #8650fe;*/
}

/*.hoy:hover{*/
/*    background-color: #cacaff;*/
/*}*/

.hoy_pasado, .hoy_pasado:hover{
    background-color: lightgray;
    color: gray;
}

.mensaje{
    font-weight: bold;
    text-align: center;
    color: white;
    position: relative;
    top: -7px;
    display: block;
    margin-bottom: -4px;
    font-size: 0.6rem;
}

.adeuda{
    background-color: crimson;
    color: white;
    border-bottom: 2px solid red;
}

.adeuda:hover{
    background-color: rgb(170, 0, 34);
}

table{
    width: 100%;
}

thead, th{
    top: 0;
}



#container_filtro{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input_admin{
    /*width: 200px;*/
    width: 13%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    font-weight: initial;
    margin-right: 15px;
    border: 2px solid #8650fe;
    box-sizing: border-box;
}

.boton_filtro_admin{
    background-color: #8650fe;
    color: white;
    border: none;
    font-weight: bold;
}

.boton_filtro_admin:hover{
    background-color:#3e139c;
}

#filtro_id_email_admin{
    margin-left: 12px;
    width: 98%;
    height: 80px;
    border-bottom: 4px solid #8650fe;
}


.boton_falta, .boton_asistio{
    height: 70%;
    width: 70px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton_falta{
    background: crimson;
}

.boton_asistio{
    background: #23d366;
}

/*.item_responsive{*/
/*    width: 100%;*/
/*    background-color:white;*/
/*    position:relative;*/
/*    top: -10px;*/
/*    display: none;*/
/*    border-bottom: 2px solid lightgray;*/
/*}*/

/*.item_responsive td{*/
/*    height: 48px;*/
/*    display: flex;*/
/*    width: 155px;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/

#tr_btn_usuario_1{
    text-align: right;
}

.boton_eliminar{
    background: crimson;
    padding: 10px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    margin: 15px;
    width: 20px;
    height: 20px;
}

.icono_eliminar{
    height: 20px;
    filter: invert(1);
}


.campo_admin{
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: bold;
    color:#481f9e;
}



#input_senia{
    font-size: 1.3rem;
    border-bottom: 2px solid lightgray;
    border-radius: 0;
    width: 115px;
    color: inherit;
    text-align: left;
    height: 25px;
    padding-left: 8px;
}

#ayuda{
    background-color: #501cc3;
    position: absolute;
    right: 20px;
    width: 50px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#ayuda:hover{
    background-color: #2a0974;
}

#modal_estados, #modal_falta, #modal_baja{
    display: none;
    position: fixed;
    background-color: white;
    margin-left: -300px;
    left: 50%;
    top: 20%;
    width: 620px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    z-index: 4;
    overflow: scroll;
    cursor: default;
}

#nav_modal_estados{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    color: #8650fe;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid whitesmoke;
}

#modal_falta, #modal_baja{
    width: 450px;
    margin-left: -225px;
}

#img_estados{
    width: inherit;
}

#img_estados_responsive{
    display: none;
    width: 400px;
}

.contenido_modal_falta{
    padding: 20px;
    display: block;
}

#logo_footer
{
    display: block;
    margin:auto;
    width: 150px;
    filter: opacity(0.5)
}


.id{
    /*width: 16%;*/
    width: 5%;
}

.email{
    /*width: 20%*/
    width:
    30%
}

.cancha{
    /*width: 5%;*/
    width: 18%;
}

.dia, .hora{
    /*width: 12%;*/
    width: 18%;
    /*justify-content: center;*/
}


.botones{
    width: 35%;
    justify-content: right;
}


/*@media(max-width: 550px){*/
/*    .td_historial{*/
/*        font-size: 1.8rem;*/
/*    }*/
/*    .boton_falta, .boton_asistio{*/
/*        margin-left: 5px;*/
/*    }*/

/*    .cancha{*/
/*        width: 10%;*/
/*    }*/

/*    .dia, .hora{*/
/*        justify-content: left;*/
/*        width: 15%;*/
/*    }*/

/*    .email{*/
/*        width: auto;*/
/*    }*/

/*    .botones{*/
/*        display: none;*/
/*    }*/
/*}*/

/*@media(max-width: 750px){*/
/*    .td_historial{*/
/*        font-size: 1.3rem;*/
/*    }*/
/*    .boton_falta, .boton_asistio{*/
/*        margin-left: 5px;*/
/*    }*/

/*    .email{*/
/*        width: 33%;*/
/*    }*/
/*}*/

/*@media(max-width: 1100px){*/
/*    .id, .cancha{*/
/*        width: 5%;*/
/*    }*/

/*    .botones{*/
/*        width: 25%;*/
/*    }*/

/*    .input_admin{*/
/*        width: 175px;*/
/*    }*/
/*}*/
