
a
{
    text-decoration: none;
}

#sintetico
{
    width: 100%;
    height: 300px;
    /*background-image: url("./imgs/sinteticoHD.jpeg");*/
    background-size: cover;
    background-repeat: no-repeat;
}

.bienvenido
{
    font-size: 5rem;
    color: yellow;
    font-weight: bold;
    width: 100%;
    text-shadow: 1px 1px 30px black;
    padding: 70px 40px 70px 30px;
    margin: auto;
    /*background-image: url([[@{/imgs/jugador_pelota2.jpeg}]]);*/
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
    border-bottom: 6px solid crimson;
    cursor:default;
}

.niveles_container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.item_nivel
{
    height: 350px;
    background-color: white;
    box-shadow: 3px 4px 12px 1px lightgray;
    padding: 20px;
    border-radius: 10px;
    width: 26%;
    margin: 12px;
}

/*.titulo_3*/
/*{*/
/*    font-size: 2.3rem;*/
/*    font-weight: bold;*/
/*}*/

.item_subtitulo
{
    font-size:1.5rem;
    color:#3e139c;
    font-style: italic;
}

/*.item_texto*/
/*{*/
/*    font-size: 2rem;*/
/*}*/

.item_texto td{
    vertical-align: top;
    /*font-size: 1.7rem;*/
}

#socio
{
    background: linear-gradient(45deg, #00053d, navy);
    color: white;
}

#local
{
    background: linear-gradient(45deg, #7134f8, #bea1ff);
    color: white;
}

#recreativo
{
    background: linear-gradient(45deg, whitesmoke, white)
}

.check_niveles{
    width: 16px;
}

/* FAQS */
#faqs{
width: 60%;
height: auto;
border-radius: 10px;
overflow: hidden;
margin: 20px auto;
box-shadow: 8px 9px 13px -4px gray;
/*font-size: 2rem;*/
}

.pregunta, .respuesta{
    display: block;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

.pregunta{
    position: relative;
    background: linear-gradient(45deg, #7639fd, #9a6cfc 80%);
    color: white;
    font-weight: bold;
    border-bottom: 2px solid #8c57ff;
    cursor: pointer;
    padding: 20px 40px;
    display: flex;
    align-items: center;
}

.respuesta{
    background-color: white;
    /*font-size: 1.8rem;*/
    transition: max-height 0.3s ease-in;
    max-height: 0px;
}

.p_respuesta{
    padding: 40px;
    margin: 0;
    display: none;
    height: auto;
    color: #3e139c;
    transition: 0.4s;
}

.btn_faqs{
    position: absolute;
    transition: 0.2s;
    right: 16px;
    height: 12px;
}


/*MEDIA QUERIES*/


@media(max-height: 500px){
    #modal_inicio_sesion{
        padding: 5px 20px;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        font-size: 1.2rem;
        margin: 0;
        left: 0;
        color: #6b27fc;
        box-sizing: border-box;
        position: fixed;
        background-color: white;
        border-radius: 0;
        border: none;
        min-height: 0;
        z-index: 100;
    }
}

/*@media(max-width: 1100px){*/
/*    !*.item_texto td{*!*/
/*    !*    font-size: 1.2rem;*!*/
/*    !*}*!*/

/*    .texto_2{*/
/*        font-size: 1.2rem;*/
/*    }*/

/*    .item_nivel{*/
/*        height: 265px;*/
/*    }*/
/*}*/

@media(max-width: 1200px){
    #faqs{
        width: 75%;
    }

    .pregunta{
        font-size: 1.5rem;
    }
    .respuesta{
        font-size: 1.2rem;
    }
}

@media (max-width: 1100px)
{
    /*.item_texto td{*/
    /*    font-size: 1.7rem;*/
    /*}*/

    .texto_2{
        font-size: 1.7rem;
    }

    .niveles_container {
        flex-direction: column;
    }

    .item_nivel
    {
        margin: auto;
        width: 330px;
        margin-bottom: 20px;
        height: 280px
    }
}


/*@media (max-width: 650px)*/
/*{*/
/*    !*#navSuperior_responsive*!*/
/*    !*{*!*/
/*    !*    display: flex;*!*/
/*    !*}*!*/

/*    !*#navSuperior_normal, #navInferior_normal*!*/
/*    !*{*!*/
/*    !*    display: none;*!*/
/*    !*}*!*/

/*    !*.info_container{*!*/
/*    !*    padding: 45px 12px 10px 12px*!*/
/*    !*}*!*/

/*    .titulo_1{*/
/*        font-size: 3rem;*/
/*    }*/

/*    .texto_1{*/
/*        font-size: 1.8rem;*/
/*    }*/

/*    .texto_2{*/
/*        font-size: 1.2rem;*/
/*    }*/

/*    !*.item_nivel*!*/
/*    !*{*!*/
/*    !*    width: 240px;*!*/
/*    !*}*!*/

/*    .botonNav{*/
/*        font-size: 1.4rem;*/
/*    }*/

/*    .btn_faqs{*/
/*        height: 8px;*/
/*    }*/
/*}*/

@media(max-width: 920px){
    #texto_niveles
    {
        font-size: 2rem;
    }

    .pregunta{
        padding: 20px 20px 20px 10px
    }
}

@media(max-width: 650px){
    #faqs{
        width: 100%;
    }

    .item_nivel{
        height: 200px;
        width: 85%;
    }

    .item_texto{
        font-size: 1.2rem;
    }

    #container_reservas{
        height: auto;
    }

    /*.texto_info{*/
    /*    font-size: 2.7rem;*/
    /*}*/

    /*.titulo_info{*/
    /*    font-size: 3.4rem;*/
    /*}*/

    #texto_niveles{
        font-size: 1.2rem;
    }

    #titulo_reservas{
        font-size: 2.4rem;
        text-align: center;
    }

    .reserva{
        font-size: 1.2rem;
        text-align: center;
    }

    .titulo_1{
        font-size: 2.2rem;
    }

    .info_texto{
        font-size: 1.5rem;
    }
    
    /*.pregunta{*/
    /*    font-size: 1rem;*/
    /*}*/

    .respuesta{
        font-size: 1rem;
    }

    /*.titulo_1{*/
    /*    font-size: 3rem;*/
    /*}*/

    .texto_1{
        font-size: 1.8rem;
    }

    .texto_2{
        font-size: 1.2rem;
    }

    /*.item_nivel*/
    /*{*/
    /*    width: 240px;*/
    /*}*/

    .botonNav{
        font-size: 1.4rem;
    }

    .btn_faqs{
        height: 8px;
    }
}

@media(max-width: 450px){
    .titulo_3{
        font-size: 1.3rem;
    }

    .item_subtitulo{
        font-size: 1rem;
    }

    .item_nivel{
        width: 85%;
    }
}

@media(max-width: 360px){

    #titulo_reservas{
        font-size: 2rem;
    }

    .reserva{
        font-size: 1rem;
    }
}

/*@media(min-width: 651px){*/
/*    .opcion_desplegable*/
/*    {*/
/*        display:none;*/
/*    }*/
/*}*/

@media(min-width: 651px){
    .opcion_desplegable
    {
        display:none;
    }

    .botonNav_desplegable{
        display:none;
    }
}