/*#info_usuario*/
/*{*/
/*    background-image: url([[@{/imgs/fondo_contacto5.jpeg}]]);*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

/*#info_faltas*/
/*{*/
/*    background-image: url([[@{/imgs/tarjeta_roja.jpg}]]);*/
/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
/*    padding: 80px 45px;*/
/*    box-sizing: border-box;*/
/*}*/

#roja{
    height: 200px;
    width: auto;
    position: absolute;
    right: 0;
}

.niveles_container{
    justify-content: space-between;
}

.titulo_info
{
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 1px 1px 10px black;
}

.texto_info
{
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 1px 1px 10px black;
}

/*#texto_faltas*/
/*{*/
/*  !*color: white;*!*/
/*  !*font-weight: normal;*!*/
/*  !*font-size: 1.5rem;*!*/
/*  text-shadow: 1px 1px 10px black;*/
/*}*/

.reserva, .reserva_perdida
{
    padding: 15px;
    border-radius: 10px;
    font-size: 1.8rem;
    box-sizing: border-box;
    font-weight: bold;
    margin-bottom: 8px;
    cursor: default;
}

.reserva{
    color: white;
    background-color: #8650fe;
}

.reserva_perdida{
    color: white;
    background-color: red;
}

.reserva:hover{
    background-color: #3e139c;
}

.reserva_perdida:hover{
    background-color: crimson;
}

#titulo_reservas
{
    margin: 10px 0px;
    color: #8650fe;
    font-weight: bold;
    font-size: 3.2rem;
}

#beneficios{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: -14px;
    transition: 1s;
    cursor: pointer;
}

#beneficios_container{
    justify-content: space-around;
}

.beneficios_inactivo{
    color: #7a7aff;
    background-color: #c9c9ff;
}

.beneficios_activo{
    background-color: #5f22e3;
    color: white;
}

.icono_info{
    height: 32px;
}

.btn_triangulo{
    height: 14px;
    width: 25px;
    margin-left: 10px;
    margin-top: 5px;
    transition: 0.2s;
}

/*#panel_usuario{*/
/*    height: 420px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 45px;*/
/*    box-sizing: border-box;*/
/*    background-image: url([[@{/imgs/fondo_contacto5.jpeg}]]);*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

#usuario{
    width: 380px;
    height: 250px;
    padding: 40px;
    font-size: 2.8rem;
    background-color: white;
    border-radius: 10px;
    font-weight: 400;
}

#reservas{
    width: 58%;
    max-width: 750px;
    height: 250px;
    padding: 40px;
    margin-left: 20px;
    font-size: 3rem;
    background-color: white;
    border-radius: 10px;
}

#reservas_responsive{
    display: none;
    padding: 20px 30px 0px 30px;
    margin-top: 10px;
}

#container_reservas{
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
}

#container_reservas_responsive{
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
}

#titulo_usuario{
    margin: 0;
    margin-bottom: -24px;
    font-size: 3rem;
    color: #8650fe;
}

#contactanos{
    display: block;
    width: 500px;
    margin: auto;
    font-size: 3rem;
    color: #8650fe;
    text-align: center;
    margin-top: 45px;
    margin-bottom: -20px;
}

#wpp_web_senia{
    color: white;
    background: #23d366;
    padding: 17px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    font-size: 2.5rem;
}

#wpp_web_senia:hover{
    background: seagreen;
}

#wpp_logo{
    width: 25px;
    filter:invert(1);
    margin-right: 10px;
}

@media(min-width: 1390px){
    #beneficios_container{
        padding: 45px 0px;
    }

    .niveles_container{
        justify-content: center;
    }

    .item_nivel{
        width: 370px;
        margin: 20px;
        height: 300px;
    }

    #info_faltas{
        padding: 100px 45px;
    }
}

@media(max-width: 1300px)
{
    .item_texto td{
        font-size: 1.4rem;
    }
}

@media(max-width: 1250px){
    .item_nivel{
        height: 300px;
    }

    #reservas{
        width: 55%;
        height: 200px;
        padding: 15px 20px;
        font-size: 2rem;
    }

    .reserva{
        padding: 10px;
        font-size: 1.4rem;
    }

    #panel_usuario{
        height: 280px;
    }

    #titulo_usuario{
        font-size: 2rem;
    }

    #usuario{
        padding: 15px 25px;
        width: 35%;
        font-size: 2rem;
        height: 200px;
    }

    #contactanos{
        font-size: 2.5rem;
        width: 400px;
    }

    #wpp_web_senia{
        font-size: 1.8rem;
    }
}

@media(max-width: 970px)
{
    #reservas{
        display: none;
    }

    #reservas_responsive{
        display: block;
        text-align: center;
    }

    #usuario{
        width: 60%;
    }

    #contactanos {
        width: 320px;
        font-size: 2rem;
        margin-bottom: 0;
    }

    #wpp_web_senia{
        padding: 17px;
        font-size: 1.7rem;
    }

    #wpp_logo{
        width: 20px;
        filter: invert(1);
        margin-right: 5px;
    }
}

@media(max-width: 650px)
{
    #beneficios{
        height: 70px;
    }
    .bienvenido
    {
        font-size: 2.5rem;
        background-image: url([[@{/imgs/jugador_pelota7.png}]]);
    }

    .item_nivel{
        height: 200px;
    }

    .item_texto{
        font-size: 1.2rem;
    }

    #panel_usuario{
        justify-content: center;
    }

    #usuario{
        width: 85%;
    }

    .texto_info{
        font-size: 2.7rem;
    }

    .titulo_info{
        font-size: 3.2rem;
    }

    #texto_faltas{
        font-size: 1.2rem;
    }

    #titulo_reservas{
        font-size: 2.4rem;
        /* text-align: center; */
    }

    .reserva, .reserva_perdida{
        font-size: 1.2rem;
        /* text-align: center; */
    }

    .item_nivel{
        height: 280px;
    }

    .info_container{
        padding: 45px 12px;
    }
}

@media(max-width: 425px){
    #panel_usuario{
        justify-content: center;
        padding: 20px 0px;
        height: auto;

    }

    .titulo_2{
        font-size: 1.6rem;
    }

    #usuario{
        width: 80%;
        padding: 30px 20px;
        font-size: 16px;
        line-height: 1.7;
    }


    #info_faltas{
        background-image: url([[@{/imgs/roja.png}]]);
    }

    #texto_niveles{
        font-size: 1rem;
    }

    .titulo_info{
        font-size: 2.5rem;
    }

    .texto_info{
        font-size: 2rem;
    }

    .texto_faltas{
        font-size: 1rem;
    }

    .icono_info{
        height: 28px;
    }
}

@media(max-width: 360px){
    #titulo_reservas{
        font-size: 2rem;
    }

    .reserva, .reserva_perdida{
        font-size: 1rem;
    }
}