<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registrate</title>
  <!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootrstap.min.css}">-->
</head>
<body>
<div th:if="${param.error}" style="font-weight: bold; color:red">
  ¡Usuario o contraseña incorrectos! <br>
</div>
<h1>Iniciar Sesion</h1>
<table>

  <!--    <img th:src="@{/imgs/ferrari.jpeg}" alt="ferrari">-->
  <form method="post" action="/login">
    <tr>
      <td>Email: </td>
      <td><input type="email" name="email" id="txtEmail"></td>
    </tr>
    <tr>
      <td>Contraseña: </td>
      <td><input type="password" name="password" id="txtPass"></td>
    </tr>
    <tr>
      <td><input type="submit" value="Enviar"></td>
    </tr>

  </form>
  </form>
</table>
</body>

</html>
