<footer class="footer" th:fragment="footer">
  <img src="./imgs/torinoLogoBlanco_2.png" alt="logo torino" id="logo_footer">
  <a style="font-size:1.2rem; color: white; display: block; font-weight: bold; text-align: center; margin-top: 5px;" href="https://wa.me/1159807762/?text=Hola!%20Quiero%20hacer%20una%20consulta%20sobre%20TorinoFutbol" target="_blank"><img src="./imgs/wppLogo.png" alt="logo WhatsApp" style="width: 20px; filter:invert(1)"> 11-59807762</a>
  <p style="font-size:1.2rem; color: white; font-weight: bold; text-align: center;">admin@torino.com</p>
</footer>